nav{
    background-color: gainsboro !important;
    .navbar-brand{
        font-style: italic;
        font-weight: lighter;
        letter-spacing: 2px;
        font-size: 10px;
        color: gainsboro;
        .logoPara{
            font-size: 7px;
        }
    }
    ul{
        li{
            a{
                color: #209f30;
                font-weight: bold;
                cursor: pointer;
                font-size: 11px;
            }
            a:hover{
                color: #f0583f;
            }
        }
    }
}

.backBtn{
  color: #209f30;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.backBtn:hover{
  color: #f0583f;
}

.dropbtn {
    // background-color: #04AA6D;
    // color: white;
    padding: 4px 16px;
    font-size: 11px;
    text-align: right;
    border: none;
    background: transparent;
    text-decoration: none;
    font-weight: bold;
    color: #209f30;
    width: 100%;
  }

  .dropDown {
    position: relative;
    display: inline-block;
    width: 100%;
  }

  .dropDown-content {
    display: none;
    position: absolute;
    left: 102px;
    top: 12px;
    background-color: #f1f1f1;
    min-width: 144px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropDown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

  }

  .dropbtn:hover{
      background-color: gainsboro;
      color: #f0583f;
  }

  .profileContent{

    left: 67px !important;
    top: 13px !important;
    min-width: 85px !important;
  }

  .dropdown-menu{
    left: -120px !important;
  }

  .dropDown-content a:hover {background-color: #ddd;}

  .dropDown:hover .dropDown-content {display: block;}

//   .dropDown:hover .dropbtn {background-color: #3e8e41;}


///////////////////
///
 * { box-sizing: border-box; }
$duration: 60s;

@-webkit-keyframes ticker {
  0% {
    // -webkit-transform: translate3d(0, 0, 0);
    // transform: translate3d(0, 0, 0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
    visibility: visible;
  left: 0%;
  }

  100% {
    // -webkit-transform: translate3d(-100%, 0,0);
    // transform: translate3d(-100%, 0,0);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    left: 100%;

  }
}

@keyframes ticker {
//   0% {
//     // -webkit-transform: translate3d(0, 0, 0);
//     // transform: translate3d(0, 0, 0);
//     -webkit-transform: translateX(0);
//     transform: translateX(0);
//     visibility: visible;
//     left: 0%;

//   }

//   100% {
//     // -webkit-transform: translate3d(-100%, 0,0);
//     // transform: translate3d(-100%, 0,0);
//     -webkit-transform: translateX(-100%);
//     transform: translateX(-100%);
//     left: 100%;


//   }
// }
0% {
  left: 0;
}
50% {
  left: 100%;
}
100% {
  left: 0;
}
}

.ticker-wrap {

  position: fixed;
  bottom: 0;
  width: 100%;

  overflow: hidden;
  height: 4rem;
  background-color: rgba(gainsboro, 0.9);
  padding-left: 100%;
  box-sizing: content-box;
  z-index: 22;
  left: 0;

  .ticker {

    display: inline-block;
    height: 4rem;
    line-height: 4rem;
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;

    bottom: 15%;
    position: absolute;


  //   -webkit-animation-iteration-count: infinite;
  //           animation-iteration-count: infinite;
  //   -webkit-animation-timing-function: linear;
  //           animation-timing-function: linear;
  //  -webkit-animation-name: ticker;
  //          animation-name: ticker;
  //   -webkit-animation-duration: $duration;
  //           animation-duration: $duration;

    // &__item {

    //   display: inline-block;

    //   padding: 0 2rem;
    //   font-size: 1.5rem;
    //   color: #209f30;

    // }

  }


}
#pot {
  bottom: 27%;
  position: absolute;
  -webkit-animation-iteration-count: infinite;
             animation-iteration-count: infinite;
     -webkit-animation-timing-function: linear;
             animation-timing-function: linear;
    -webkit-animation-name: run;
            animation-name: run;
     -webkit-animation-duration: $duration;
             animation-duration: $duration;
             white-space: nowrap;
  // -webkit-animation: linear infinite;
  // -webkit-animation-name: run;
  // -webkit-animation-duration: 30s;
  color: #209f30;
}
@keyframes run {
  0% {
    left: -250%;
  }

  100% {
    left: 100%;
  }
}


body { padding-bottom: 5rem; }
h1,h2,p {padding: 0 5%;}
