.font-bold{
    font-weight: bold;
}

.cursor-pointer{
    cursor: pointer;
}


.arabicFont {
    font-family: Cairo-Regular !important;
}


.arabicFont-Bold {
    font-family: Cairo-Bold !important;
}


.arabicFont-light {
    font-family: Cairo-Light !important;
}



.ForteenFont{
    font-size: 14px !important;
}
.ElevenFont{
    font-size: 11px !important;
}

.underline{
    text-decoration: underline;
}